<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/notes">Go Back</a>
    <h1> Create New Note</h1>
    <form action="/notes" method="post">
        <input type="text" name="author" placeholder="@author"><br><br>
        <textarea name="content"  cols="30" rows="10" placeholder=" my new content"></textarea><br>
        <button> Create Note</button>
        
    </form>
</body>
</html>