<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/notes">Go Back</a>
    <h1> Update Notes</h1>
    <form action="/notes/Update" method="post">
        <input type="text" name="id" value="<%= note.id %>" hidden>
        <input type="text" name="author" placeholder="@author" value="<%= note.author %>"><br><br>
        <textarea name="content"  cols="30" rows="10" placeholder=" my new content" > <%= note.content %></textarea><br>
        <button> Update  Note</button>
        
    </form>
</body>
</html>